page-home {

}
/*
.list-item.ng-enter {
    -webkit-animation: fadeInLeft 5s;
    animation: fadeInLeft 5s;
}

.list-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles
  -webkit-animation-duration:0;
  animation-duration:0;
}*/